<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.rts.mapper.RtRecordPumpMapper">

    <update id="pumpOvertimeTinspect" >

        UPDATE t_rt_record_pump  SET overtime_flag = '1'
        WHERE id IN(
          SELECT  id  FROM (
              SELECT id  FROM t_rt_record_repair t
              WHERE
                 <![CDATA[  DATE_ADD(t.report_time, INTERVAL ${dayTime} DAY) < NOW()
                 AND t.repair_status != 2 AND overtime_flag !='1' ]]>
                 ) AS temp

                 )
    </update>
</mapper>
