<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.rts.mapper.RtUserMapper">

    <select id="selectPageByRepair" resultType="com.zx.rts.dto.RtUserDto">
        SELECT
           u.*,
          (SELECT  COUNT(1) FROM t_rt_record_repair
           WHERE operation_user_id = u.id  AND repair_status != 2  )  as   not_repaired_num
        FROM t_rt_user u
        ${ew.customSqlSegment}
    </select>

    <update id="updateBatctPepairPersonnel">

          UPDATE t_rt_user

          SET
            user_type = CONCAT(IFNULL(user_type,'villager') ,#{userType}) ,
            car_no = #{carNo}

          WHERE FIND_IN_SET( id , #{ids})
    </update>

</mapper>
